.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background:bisque;
    z-index: 1000;
}


.nav-bar{
    position: fixed;
    background: white;
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f36f21;
    cursor: pointer;
    margin-right: 44px;
    padding: 13px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    max-height: 50px;
}

.nav-bar-content{
    color: var();
    height: 80px;
    padding: 0 36px;
}

.item-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.flex{
    display: flex;
}

.logo{
    display: flex;
    justify-items: center;

}
.campus {
    position: relative;
    float: right;
    border-radius: 12px;
    padding: 10px 10px;
    color: dodgerblue;
    font-weight: bold;
    background-color: #dbecff;
    font-family: "Century Gothic";
}
.sidebar-full {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 328px;
    height: calc(100vh - 80px);
    background: papayawhip;
    color:cornflowerblue;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.07);
}
.logout-button {
    outline: none;
    border: none;
    background: #f36f21;
    border-radius: 10px;
    width: 280px;
    height: 42px;
    padding: 9px;
    font-weight: bold;
    font-size: 16px;
    font-family: "Century Gothic";
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #ffffff !important;
    text-align: center;
}

.testing-button {
    outline: none;
    border: none;
    background: #f36f21;
    border-radius: 10px;
    width: 280px;
    height: 42px;
    padding: 9px;
    font-weight: bold;
    font-size: 16px;
    font-family: "Century Gothic";
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #ffffff !important;
    text-align: center;
}
.justify-center {
    justify-content: center;
}
.sidebar-top {
    max-height: 100%;
    padding-bottom: 50px;
    overflow: auto;
}
.sidebar-bottom {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 0px;
    padding-bottom: 20px;
    background: papayawhip;

}
.sidebar-infoUser {
    padding: 32px 0 16px 24px;
}
.sidebar-avatar {
    margin-right: 16px;
    display: flex;
    align-items: center;
}
.sidebar-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    font-family: "Century Gothic";
}
.sidebar-avatar img {
    width: 60px;
    height: 60px;
}
.sidebar-prestigeScore {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    font-family: "Century Gothic";
}
.sidebar-linkItem {
    height: 48px;
    border-radius: 12px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 120%;
    font-family: "Century Gothic";
}

.sidebar-link {
    margin-left: 24px;
    margin-right: 24px;
    overflow: hidden;
}

.sidebar-icon-active path {
    fill: white;
    background-color: orange;
}


.sidebar-linkItem {
    height: 48px;
    border-radius: 12px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 120%;
}

.sidebar-linkItem-active {
    background: #f36f21;
    border-radius: 12px;
    color: white !important;
}
#sidebar-full a {
    text-decoration: none;
    color: #135d76;
}

.sidebar-linkIcon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    margin-top: 10px;
}